@{
    ViewBag.Title = "Home Page";
}
<!-- header -->
<!-- main navigation -->

<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
                <div class="col-md-6 left">
                    <div class="top-left">
                        <h2 class="heading">HELLO, I'M TOM</h2>
                        <p>Website Applications Developer from North Carolina.</p>
                    </div>                    
                    <div class="row">
                        <div class="avatar">
                            <img src="/img/headshot.png" class="img-responsive" alt="Profile Picture" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3"><p><a href="/Contact">Email Me</a></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="height: 100px"></div>
                    </div>
                    <div class="row">
                        <div id="newtab-horizontal-margin">
                            <div class="newtab-side-margin"></div> 
                                <div id="newtab-grid" style="height: 500px; max-height: 455px; max-width: 1651px;">
                                    <div class="col-md-6">
                                            <div class="newtab-cell">
                                                <a class="newtab-link" href="/Profile">
                                                    <span class="tab-title"> PROFILE</span>
                                                    <img src="/img/glyphicons/glyphicons-4-user.png" style="padding-left:12em" />
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="newtab-cell">
                                                <a class="newtab-link" href="/Experience">
                                                   <span class="tab-title"> RESUME</span>
                                                    <img src="/img/glyphicons/glyphicons-30-notes-2.png" style="padding-left:12em" />
                                                </a>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="height: 4px"></div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="newtab-cell">
                                                <a class="newtab-link" href="/Skills">
                                                    <span class="tab-title"> SKILLS</span>
                                                    <img src="/img/glyphicons/glyphicons-461-blacksmith.png" style="padding-left:12em" />
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="newtab-cell">
                                                <a class="newtab-link" href="/Projects">
                                                    <span class="tab-title"> PROJECTS</span>
                                                    <img src="/img/glyphicons/glyphicons-263-spade.png" style="padding-left:12em" />
                                                </a>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="height: 4px"></div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="newtab-cell">
                                                <a class="newtab-link" href="/Contact">
                                                    <span class="tab-title"> CONTACT</span>
                                                    <img src="/img/glyphicons/glyphicons-11-envelope.png" style="padding-left:12em" />
                                                </a>
                                            </div>
                                    </div>                               
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</header>