@{
    ViewBag.Title = "Home Page";
}
<!-- header -->


<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <p></p>
            <div class="col-md-12">                                 
                <div class="row">
                    <div class="col-md-4 left">
                        <div class="avatar">
                            <img src="/img/TomSetliff.png" class="img-responsive" alt="Profile Picture" />
                        </div>
                    </div>
                
                    <div class="col-md-6 right">
                        <h2 class="heading">HELLO, I'M TOM</h2>
                        <p>Website Applications Developer from North Carolina.</p>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
    <div container>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6"></div>
                <div class="col-md-push-6">
                    <div class="social">
                        <h3 class="sub-heading">Review my code:</h3>
                        <ul class="social-icons">
                            <li><a href="https://github.com/tgsetliff"><i class="icon icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</header>