@{
    ViewBag.Title = "Home Page";
}
<!-- header -->

<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <div class="top-left">
                    <h2 class="heading">HELLO, I'M TOM</h2>
                    <p>Website Applications Developer from North Carolina.</p>
                </div>                    
                <div class="row">
                    <div class="avatar">
                        <img src="/img/TomSetliff.png" class="img-responsive" alt="Profile Picture" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4"><p><a href="/Account/LogIn">Register/Log In</a></p></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 100px"></div>
                </div>
                <div class="row">
                    <div id="newtab-horizontal-margin">
                    <div class="newtab-side-margin"></div> 
                        <div id="newtab-grid" style="height: 500px; max-height: 455px; max-width: 1651px;">
                            <div class="col-md-6">
                                <a class="newtab-link nolink" href="/Profile">
                                    <div class="newtab-cell">
                                        <span class="tab-title"> PROFILE</span>
                                        <img src="/img/glyphicons/glyphicons-4-user.png" style="padding-left:12em" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="newtab-link nolink" href="/Experience">
                                    <div class="newtab-cell">
                                        <span class="tab-title"> RESUME</span>
                                        <img src="/img/glyphicons/glyphicons-30-notes-2.png" style="padding-left:12em" />
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="height: 4px"></div>
                            </div>
                            <div class="col-md-6">
                                <a class="newtab-link nolink" href="/Skills">
                                    <div class="newtab-cell">
                                        <span class="tab-title"> SKILLS</span>
                                        <img src="/img/glyphicons/glyphicons-461-blacksmith.png" style="padding-left:12em" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="newtab-link nolink" href="/Projects">
                                    <div class="newtab-cell">
                                        <span class="tab-title"> PROJECTS</span>
                                        <img src="/img/glyphicons/glyphicons-263-spade.png" style="padding-left:12em" />
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="height: 4px"></div>
                            </div>
                            <div class="col-md-6">
                                <a class="newtab-link nolink" href="/Contact">
                                    <div class="newtab-cell">
                                        <span class="tab-title"> CONTACT</span>
                                        <img src="/img/glyphicons/glyphicons-11-envelope.png" style="padding-left:12em" />
                                    </div>
                                </a>
                            </div>   
                            <div class="col-md-6">
                                <a class="newtab-link nolink" href="/BlogArticle">
                                    <div class="newtab-cell">
                                        <span class="tab-title"> Blog</span>
                                        <img src="/img/glyphicons/social-6-blogger.png" style="padding-left:12em" />
                                    </div>
                                </a>
                            </div>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>