
@{
    ViewBag.Title = "Contacts";
}

<section class="section contacts" id="contacts">
    <div class="container">
        <h2 class="heading">CONTACTS</h2>.
        <h4>Recommendations available on request</h4>
        <div class="row contacts">
            <div class="col-md-12">
                <div class="row names">
                    <div class="col-md-12"><h3></h3></div>
                </div>
            </div>
            <div class="row map-canvas">
                <div class="col-md-6">
                    <div class="row google-map">
                        <div class="map-canvas"></div>
                    </div>
                </div>
            </div>
            <div class="row contact-address">
                <div class="col-md-6">
                    <!--<p>Credibly matrix cross-unit best practices with enterprise-wide niches. Intrinsicly transform worldwide quality vectors vis-a-vis resource-leveling web services. Synergistically impact just in time alignments whereas prospective alignments.</p>-->
                    <div class="address-lines">
                        <!--<p>12345 North Main Street</p>-->
                        <p>Reidsville, North Carolina, 27320</p>
                        <p>Mobile: (336) 552 - 6149</p>
                        <p>Email: <a href="mailto:setlifftg@gmail.com">setlifftg@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

