
@{
    ViewBag.Title = "Contacts";
}

<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
        <!-- brand and toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- navigation links -->
        <div class="collapse navbar-collapse main-nav-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Profile">ABOUT ME</a></li>
                <li><a href="/Skills">SKILLS</a></li>
                <li><a href="/Projects">PROJECTS</a></li>
                <li><a href="/Experience">RESUME</a></li>
            </ul>
        </div>

    </div>
</nav>

<section class="section contacts" id="contacts">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                    <a href="/Home" class="btn btn-default btn-sm">Back</a><h2 class="heading text-center">CONTACTS</h2>
            </div>
        </div>
        <div class="row contacts">
            <div class="row map-canvas">
                <div class="col-md-6">
                    <div class="row google-map">
                        <div class="map-canvas"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
            </div>
            <div class="row contact-address">
                <div class="col-md-6 left">
                    <div class="address-lines">
                        <!--<p>12345 North Main Street</p>-->
                        <p>Reidsville, North Carolina, 27320</p>
                        <p>Mobile: (336) 552 - 6149</p>
                        <p>Email: <a href="mailto:setlifftg@gmail.com">setlifftg@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-6 right">
                    <div class="contact-form margin-bottom">
                        <div class="alert"></div>
                        <form action="@Url.Action("Index", "Contact")" method="post" name="contactform">
                            <label for="name">Name:</label>
                            <input type="text" id="Name" name="Name" value="" placeholder="your name*" required="required" data-val="true" data-placement="bottom">
                            <label for="email">Email:</label>
                            <input type="email" id="Email" name="Email" value="" placeholder="email address*" required="required" data-rule-email="true" data-val="true" data-placement="bottom">
                            <label for="subject">Subject:</label>
                            <input type="text" id="Subject" name="Subject" value="" placeholder="please provide the subject">
                            <label for="message">Message:</label>
                            <textarea id="Message" name="Message" placeholder="your message here*" required="required" data-val="true" data-placement="bottom"></textarea>
                            <input type="submit" value="Submit" class="btn btn-primary btn-lg" id="submit-button">
                            <input type="hidden" name="msg-submitted" id="msg-submitted" value="true">
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>

