
@{
    ViewBag.Title = "Profile";
}

<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
        <!-- brand and toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- navigation links -->
        <div class="collapse navbar-collapse main-nav-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Skills">SKILLS</a></li>
                <li><a href="/Projects">PROJECTS</a></li>
                <li><a href="/Experience">RESUME</a></li>
                <li><a href="/Contact">CONTACTS</a></li>
            </ul>
        </div>

    </div>
</nav>

<section class="section about-me" id="about-me">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                <a href="/Home" class="btn btn-default btn-sm">Back</a><h2 class="heading text-center">PROFILE</h2>
            </div>
            <p>I have been in the Information Tech. career field for over 20 years. I began as a consultant working with several different industries which gave me a wide range of experience. After moving to "in-house" shops, I have worked mainly in the manufacturing sector, writing applications to help support business needs. </p>
            <p>In Janurary 2015, I began attending The Coder Foundry's 24-week boot camp training course for Website Application Development and Design. The coursework in coding and programming is focused on .NET, C#, MVC, JavaScript and AngularJS.</p>
            <p>I have excellent communication, documentation, and troubleshooting skills and work well in a Team Environment as well as on my own. My customer is anyone using a system I have written or support and their satisfaction is my priority.</p>
            <div class="social">
                <h3 class="sub-heading">Follow me on:</h3>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/tgsetliff"><i class="icon icon-facebook"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/tomsetliff/"><i class="icon icon-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

</section>

