
@{
    ViewBag.Title = "Experience";
}


<section class="section resume" id="resume">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                <h2 class="heading text-center">RESUME</h2>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="row">
            <h3 style="text-align:center">2015 - Present</h3>
            <h4 style="text-align:center">
                The Coder Foundry, Kernersville, NC Enrolled as a student
            </h4>
            <h4 style="text-align:center">
                taking Web Application Development classes
            </h4>
            <h5 style="text-align:center">
                24 week Bootcamp style training in Web Application Development and Website Design focusing on .NET, MVC, C#, JavaScript and AngularJS.
            </h5>
            <br />
        </div>
        <div class="col-md-3"></div>
        <div class="row">
            <h3 style="text-align:center">1994 - 2013</h3>
            <h4 style="text-align:center">
                AveryDennison, Greensboro, NC - Applications Development and Support
            </h4>
            <h5 style="text-align:center">
                Developed software solutions to meet business requirements using various development languages and tools.
            </h5>
            <h5 style="text-align:center">
                Provided hardware and software support as required by business users. Assisted in data conversions of legacy systems for multiple international locations.
            </h5>
            <br />
        </div>            
        <div class="col-md-3"></div>
        <div class="row">
            <h3 style="text-align:center">1990 - 1994</h3>
            <h4 style="text-align:center">
                ANNEDEEN HOSIERY (GOLDTOE MORETZ), Burlington, NC - Applications Development and Support
            </h4>
            <h5 style="text-align:center">
                Developed software solutions to meet business requirements. 
            </h5>
            <h5 style="text-align:center">
                Provided hardware and operating system support including operating systems software upgrades.
            </h5>
            <br />
        </div>

        <div class="row" style="text-align:center">
            <br />
            <a href="/Tom Setliff Resume.doc" class="btn btn-primary btn-lg">VIEW/SAVE RESUME</a>
        </div>
    </div>        
</section>

