
@{
    ViewBag.Title = "Experience";
}

<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
        <!-- brand and toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- navigation links -->
        <div class="collapse navbar-collapse main-nav-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Profile">ABOUT ME</a></li>
                <li><a href="/Skills">SKILLS</a></li>
                <li><a href="/Projects">PROJECTS</a></li>
                <li><a href="/Contact">CONTACTS</a></li>
            </ul>
        </div>

    </div>
</nav>

<section class="section resume" id="resume">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                <a href="/Home" class="btn btn-default btn-sm">Back</a><h2 class="heading text-center">Resume</h2>
            </div>
            <div class="row">
                <a href="/TomSetliffResume.pdf" class="btn btn-primary btn-lg">VIEW/SAVE RESUME</a>
            </div>
        </div>
        <div class="col-md-6">
                <div class="row">
                    @*<ul class="timeline">
            <li class="year">2013</li>
            <li class="event">*@
                    <div class="col-md-pull-6"><h3 class="heading">2015 - Present</h3></div>
                    <div class="col-md-push-6"><h3 class="heading">1994 - 2013</h3></div>
                </div>
                <div class="row">
                    <h3>The Coder Foundry, Kernersville, NC Enrolled as a student taking Web Application Development classes</h3>
                    <h3>AveryDennison, Greensboro, NC - Applications Development and Support</h3>
                </div>
                <div class="row">
                    <p> 24 week Bootcamp style training in Web Application Development and Website Design focusing on .NET, MVC, C#, JavaScript and AngularJS.</p>
                    <p>Developed software solutions to meet business requirements using various development languages and tools. Provided hardware and software support as required by business users. Assisted in data conversions of legacy systems for multiple international locations. </p>
                    @*<ul class="timeline">
            <li class="year">2013</li>
            <li class="event">*@

                </div>
                     @*</li>
            <li class="year">1994</li>
            <li class="event">*@
                <div class="row">
                    <h3 class="heading">1990 - 1994</h3><h3>ANNEDEEN HOSIERY (GOLDTOE MORETZ), Burlington, NC - Applications Development and Support</h3>
                    <p>Developed software solutions to meet business requirements. Provided hardware and operating system support including operating systems software upgrades.</p>
                </div>
                     @*</li>
            </ul>*@
        </div>
    </div>
</section>

