
@{
    ViewBag.Title = "Experience";
}

<section class="section resume" id="resume">
    <div class="container">
        <h2 class="heading">RESUME</h2>
        <ul class="timeline">
            <li class="year">2013</li>
            <li class="event">
                <h3 class="heading">AveryDennison, Greensbooro, NC - Applications Development and Support</h3>
                <span class="month"><i class="icon icon-calendar"></i>1994 - 2013</span>
                <p>Developed software solutions to meet business requirements using various development languages and tools. Provided hardware and software support as required by business users. Assisted in data conversions of legacy systems for multiple international locations. </p>
            </li>
            <li class="year">1994</li>
            <li class="event">
                <h3 class="heading">ANNEDEEN HOSIERY (GOLDTOE MORETZ), Burlington, NC - Applications Development and Support</h3>
                <span class="month"><i class="icon icon-calendar"></i>1990 - 1994</span>
                <p>Developed software solutions to meet business requirements. Provided hardware and operating system support including operating systems software upgrades.</p>
            </li>
        </ul>
    </div>
</section>

