
@{
    ViewBag.Title = "Projects";
}


<section class="section projects" id="projects">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                <h2 class="heading text-center">PROJECTS</h2>
            </div>
        </div>
        <div class="col-lg-push-4">
            <div class="row project-list">
                <ul class="project-grid project-effect-shrink">
                    <li class="col-md-3">
                        <figure>
                            <img src="/img/project-folder.png" alt="Javascript Math" />
                            <figcaption>
                                <div class="project-item-info">
                                    <a href="/Javascript Exercise.html" class="btn btn-default">View Details</a>
                                    <h3 class="sub-heading">Javascript Math</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-md-3">
                        <figure>
                            <img src="~/img/dolibarr_bug.png" alt="Bug Tracker"/>
                            <figcaption>
                                <div class="project-item-info">
                                    <a href="http://setlifft-bugtracker.azurewebsites.net" class="btn btn-default">Launch</a>
                                    <h3 class="sub-heading">Bug Tracker</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

