
@{
    ViewBag.Title = "Projects";
}

<section class="section projects" id="projects">
    <div class="container">
        <h2 class="heading">PROJECTS</h2>
        <p>Working Projects</p>
        <div class="row project-list">
            <ul class="project-grid project-effect-shrink">
                <li class="col-md-3">
                    <figure>
                        <img src="/img/project-folder.png" alt="Javascript Math" />
                        <figcaption>
                            <div class="project-item-info">
                                <h3 class="sub-heading">Javascript Math</h3>
                                <p>This project contains a series of math problems</p>
                                <a href="Javascript Exercise.html" class="btn btn-default">View Details</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>

