
@{
    ViewBag.Title = "Projects";
}

<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
        <!-- brand and toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- navigation links -->
        <div class="collapse navbar-collapse main-nav-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home">HOME</a></li>
                <li><a href="/Profile">PROFILE</a></li>
                <li><a href="/Skills">SKILLS</a></li>
                <li><a href="/Experience">RESUME</a></li>
                <li><a href="/Contact">CONTACTS</a></li>
                <li><a href="/Projects">PROJECTS</a></li>
                <li><a href="/BlogArticle">BLOG</a></li>
            </ul>
        </div>

    </div>
</nav>

<section class="section projects" id="projects">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                <h2 class="heading text-center">PROJECTS</h2>
            </div>
        </div>
        <div class="col-lg-push-4">
            <div class="row project-list">
                <ul class="project-grid project-effect-shrink">
                    <li class="col-md-3">
                        <figure>
                            <img src="/img/project-folder.png" alt="Javascript Math" />
                            <figcaption>
                                <div class="project-item-info">
                                    <a href="/Javascript Exercise.html" class="btn btn-default">View Details</a>
                                    <h3 class="sub-heading">Javascript Math</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

