
@{
    ViewBag.Title = "Skills";
}


<section class="section skills" id="skills">
    <div class="container">
        <div class="col-lg-push-4">
            <div class="row">
                <h2 class="heading text-center">SKILLS</h2>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <h3 style="text-align:center">Hardware/Operating Systems</h3>
                    <h4 style="text-align:center">
                        IBM AS400, Dell, Gateway and HP
                    </h4>
                    <h4 style="text-align:center">
                        OS/400, WindowsXP and Windows7
                    </h4>
                    <br />
                </div>
                <div class="row">
                    <br />
                    <h3 style="text-align:center">Frameworks/Programming Languages</h3>
                    <h4 style="text-align:center">
                        C#, MVC, .NET, JavaScript, HTML5, CSS, ASP.NET, MVC, 
                    </h4>
                    <h4 style="text-align:center">
                        AngularJS, SQL, LINQ, RAZOR,Bootstrap, SQL Server, 
                    </h4>
                    <h4 style="text-align:center">
                        nHibernate, Entity Framework, PL/SQL, T-SQL, RPGIV, RPGIII
                    </h4>
                    <br />
                </div>
                <div class="row">
                    <br />
                    <h3 style="text-align:center">Software</h3>
                    <h4 style="text-align:center">
                        Domino Designer, Oracle Lotus Notes, Crystal Reports, 
                    </h4>
                    <h4 style="text-align:center">
                        Visual Studio 2013, Visual Foxpro, PowerBuilder, Progress
                    </h4>
                    <br />
                </div>
            </div>

        </div>

    </div>
</section>

