
@{
    ViewBag.Title = "Skills";
}

<section class="section skills" id="skills">
    <div class="container">
        <h2 class="heading">SKILLS</h2>
        <div class="row interest">
            <div class="col-md-4">
                <!--       <h3 class="sub-heading"><span class="glyphicon glyphicon-headphones"></span> Music</h3>     -->
                <p>AS400, RPGIV/ILE, CL, Screen Design, Report Designer, OS400, Release Upgrades and Patch Installation</p>
            </div>
            <div class="col-md-4">
                <!--        <h3 class="sub-heading"><span class="glyphicon glyphicon-film"></span> Movies</h3>      -->
                <p>Oracle PL/SQL, Data Conversion and Database Load</p>
            </div>
            <div class="col-md-4">
                <!--        <h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span> Traveling</h3>      -->
                <p>Transact SQL, Microsoft SQL 2005 and Microsoft SQL 2008</p>
            </div>
            <!--        <div class="col-md-3">
                        <h3 class="sub-heading"><span class="glyphicon glyphicon-book"></span> Books</h3>
                        <p>I enjoy reading Steven King and Patricia Cornwell. I like how their books carry over characters from previous books. It helps to builds a "relationship" with the character.</p>
                    </div>          -->
        </div>
    </div>
</section>

