
@{
    ViewBag.Title = "Skills";
}

<section class="section skills" id="skills">
    <div class="container">
        <div class="row">
            <a href="/Home" class="btn btn-default btn-sm">Back</a><h2 class="heading text-center">SKILLS</h2>
        </div>
        <div class="row interest">
            <div class="col-md-4">
                <p>AS400, RPGIV/ILE, CL, Screen Design, Report Designer, OS400, Release Upgrades and Patch Installation</p>
            </div>
            <div class="col-md-4">
                <p>Oracle PL/SQL, Data Conversion and Database Load</p>
            </div>
            <div class="col-md-4">
                <p>Transact SQL, Microsoft SQL 2005 and Microsoft SQL 2008</p>
            </div>
        </div>
    </div>
</section>

